.about-page-content 
  display: flex
  flex-direction: column
  color: $white
   margin-bottom: 0.7rem;
  h1
    margin-bottom: 0
  background: url('../public/img/eyeball-darker.jpg') no-repeat;
  background-size: cover

  .imageContainer
    margin-top: 3rem 
    height: 70vh
    width: 90%
    img
      object-fit: cover
      width: 100%
      // height: 100%

.skill
  h4
    margin-bottom: 0
    @extend .uppercase
  p
    margin-top: 0

.split
  padding: 2rem
  background: rgba($dusty-pink, 0.6)
  
  // margin-bottom: 0.7rem;
  // h1
  //   margin-bottom: 0
  // background: url('../public/img/eyeball-1.jpg') no-repeat;
  // background-size: cover

.right 
  background: rgba($purple, 0.5)
  text-align: right
  order: 1
  h1
    margin: 0
    

.colour-container 
  background: rgba($dusty-pink, 0.5)
  &.1
    background: rgba($purple, 0.5)