*
  box-sizing: border-box

h1, h2, h4
  font-family: $heading-op2

h1 
  font-size: $medium

.split 
  width: 50%

p 
  font-family: $body
  line-height: $small

.top-nav
  position: relative
  z-index: 2

.content-width 
  width: 75%
  margin: auto

.center-align
  text-align: center

.uppercase
  text-transform: uppercase