.contact 
  &.main-content
    height: 97vh
  .page-heading
    display: inline-block
  .page-heading h1
    text-shadow: -2px 2px $blue
    
    // text-align: center
    font-size: 5.7rem
    
    margin-top: 6rem
  .page-heading h4
    // margin-left: 40px;
    display: flex
    align-items: center
    font-size: 1.1rem
  .fa-envelope
    margin-right: 0.5rem

  background: $dusty-pink

.github, .linked-in
  display: inline-block
  width: 25%
  margin-left: 1rem
  &:hover
    fill: $blue


    
