#app
  max-width: 100vw
  max-height: 100vh


.landing
  height: 100vh
  background: $light-pink
  .page-heading
    top: 0
  
.gradient-overlay  
  width: 100%
  background: -moz-linear-gradient(top, rgba($light-pink,1) 0%, rgba($light-pink,1) 70%, rgba($light-pink,0.1) 100%)
  background: -webkit-linear-gradient(top, rgba($light-pink,1) 0%,rgba($light-pink,1) 48%,rgba($light-pink,0.1) 100%)
  background: linear-gradient(to bottom, rgba($light-pink,1) 0%,rgba($light-pink,1) 48%,rgba($light-pink,0.1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#574a86', endColorstr='#00574a86',GradientType=0 )

.page-heading
  width: 90%
  position: relative
  padding: 2rem
  color: $white
  z-index: 2
  p 
    max-width: 500px

.page-heading,
.work-page-heading
  h1
    text-transform: uppercase
    margin-bottom: 0
    margin-top: $small
    font-size: 2rem
  h4
    margin: $small 0
    font-size: 1rem
    line-height: 1.8rem


.landing
	display: inline-block
	position: relative
	width: 100%
	// padding-bottom: 100% 
	vertical-align: middle 
	overflow: hidden 

.svg-content 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;

.home-hero
  display: flex
  position: relative
  flex-direction: column
  align-items: center
  top: 36%
  z-index: 100
  text-align: right
  h1, h4 
    color: $black
    text-transform: uppercase
    text-shadow: -2px 2px rgba($dusty-pink, 0.7)
  h1 
    margin-bottom: 0
    letter-spacing: 2px
    font-size: 2rem
  h4 
    margin-top: 0

.svg-content-1
  display: inline-block
  position: absolute
  transform: rotate(180deg)
  bottom: 0
  left: 0


.page-main
  position: absolute
  width: 100vw
  top: 0;
  height: 100vh


  .project-nav
    button
      outline: none
