#app
  max-width: 100vw
  max-height: 100vh

.main-content 
  background: $watermelon
  height: 80vh

.page-heading
  height: 100%
  padding: $large 0 0 $small
  color: $white
  h1
    text-transform: uppercase
    margin-bottom: 0
  h4
    margin-top: $x-small
