#app
  max-width: 100vw
  max-height: 100vh

.main-content 
  // height: 80vh
  height: 70vh

.landing
  background: $watermelon
  background: url('../public/img/peacock.jpg') no-repeat
  background-size: cover
  height: 80vh

.page-heading
  height: 100%
  position: relative
  padding: 2rem;
  // padding: $large 0 0 $small
  color: $white
  z-index: 2

.page-heading,
.work-page-heading
  h1
    text-transform: uppercase
    margin-bottom: 0
    margin-top: $small
    font-size: $medium
    font-size: 3rem
  h4
    margin: $small 0
    font-size: $small
    line-height: 1.8rem;


