@media screen and (min-width: 414px)
  #app
    padding: $small
    background: $white



  .page-heading 
    padding: 2rem
    
  .work-page-heading  
    h1
      font-size: $medium

  .work-details-header
    height: 370px

  .mobile-display-right 
    top: 150px
    right: 150px

  .top-nav 
    margin-bottom: $small

  .content-width 
    width: 75%
  
  .contact
    .page-heading h1
      font-size: 8.7rem
      
  .logo 
    width: 30%
@media screen and (min-width: 768px)

  .back-button
    display: static
    position: fixed
    font-size: $medium
    color: $black


  .about-page-content
    flex-direction: row

  .right
    padding-top: 9.3rem
    width: 60%
    order: 0
    h1
      display: none

  .mobile-display-right 
    top: 170px
    right: 150px
  // .split 
  //   width: 50%
  .work-page-heading h1
    font-size: 4rem

  .page-heading 
    width: 50%
    // padding: $large 0 0 $x-large

@media screen and (min-width: 1024px)
  .left
    padding: $medium
  .right
    padding-right: $medium

// @media screen and (min-width: 1440px)



// @media screen and (min-width: 2560px)



// @media screen and (min-width: 5120px)