@media screen and (min-width: 414px)
  #app
    // padding: $small
    background: $white
  .mobile-screen
    left: 21%

  .page-heading 
    padding: 2rem

  .work-page-heading  
    h1
      font-size: $medium

  .work-details-header
    height: 100px

  // .mobile-display-right 
  //   top: 150px
  //   right: 150px

  .top-nav 
    margin-bottom: $small

  .content-width 
    width: 78%
  
  .contact
    .page-heading h1
      font-size: 7.6rem
      
  .logo 
    width: 30%
    margin-left: 6%

  .work-item-heading
    .content
      width: 80%
      margin: auto
@media screen and (min-width: 840px)
  .content-width 
    width: 55%
  .project-navigation

  .github
    display: inline-block
    width: 45%
    position: absolute
    top: 42%
  .linked-in
    position: relative;
    top: -64px;
  .nav-links a
    text-shadow: none
  .project-nav
    justify-content: flex-start
    padding-left: 1.2rem

  .work-item-heading
    background: none

  .back-button
    display: static
    position: fixed
    font-size: $medium
    color: $black

  .page-heading, .work-item-heading .page-heading
    top: 10rem

  .content-work .btn-white
    top: 11rem

  .about-page-content
    flex-direction: row
    height: 98vh

  .mobile-screen 
    left: 49%
    top: 15%
    height: 94%

    
  .work-details-header
    height: 150px

  .right
    padding-top: 11.3rem
    width: 60%
    order: 0
    h1
      display: none

  .mobile-display-right 
    top: 6%
    right: 7%
  .work-page-heading h1, .page-heading h1
    font-size: 4rem

  .page-heading h4
    font-size: 1.5rem

  .work-description, .technology-section, .work-list
    margin-top: 4rem
    h4
      letter-spacing: 1.2px

  .page-heading 
    width: 50%

  .project-view
    font-size: 3rem
    // padding: $large 0 0 $x-large
  .left,.right
    .content
      width: 70%
      margin: auto

@media screen and (min-width: 1024px)
  .left
    padding: $medium
  .right
    padding-right: $medium

  .mobile-screen 
    left: 47%

  .project-navigation
    right: 5%;

  .home-hero
    transform: scale(3) translateY(90%)
    // left: 20%
    text-align: right
    h1, h4
      color: $light-pink
      text-shadow: -2px 0px #5E9DBA;
    // top: 20%

  
  .svg-content 
    display: none

  .nav-links
    a 
      color: $black

@media screen and (min-width: 1200px)
  .github, .linked-in
    transform: scale(0.8);

  .mobile-screen
    left: 57%

  .linked-in
    left: -100px
    top: 20px;
    width: 20%;
  .github
    top: 25%




// @media screen and (min-width: 2560px)



// @media screen and (min-width: 5120px)