.top-nav 
  display: flex
  font-family: $body
  margin-bottom: $x-small
  li
    list-style-type: none
    padding: $x-small


#logo 
  display: flex
  width: 30%
  // align-self: flex-start


.nav-links 
  display: flex
  width: 100%
  justify-content: flex-end
  a
    text-decoration: none
    color: $black
