.mobile-display-right
  height: 400px
  position: absolute
  top: 120px
  right: 25px

.work-0
  background: $green

.work-1
  background: $purple

.work-2
  background: $blue

.work-3
  background: $dusty-pink

.work-details-header 
  position: absolute
  top: 0
  left: 0 
  height: 300px
  width: 100vw

.work-page-heading
  position: relative
  z-index: 2
  color: $white

.desktop-display 
  position: relative
  width: 100%
  display: block
  margin: auto
  z-index: 2

.technology-logos
  display: flex
  justify-content: space-between
  align-items: baseline

.technology-logo 
  width: 50px

.website-link
  color: $black
  text-transform: uppercase
  text-decoration: none

.back-button
  position: fixed
  top: 50%
  left: -10%
