
.mobile-display
  // position: relative  
.mobile-display-right
  height: 50%
  position: absolute
  top: 6%
  right: 7%

.work-item-heading 
  background: rgba($black, .5)
  position: relative
  z-index: 10
  height: 100%

.mobile-screen
    position: absolute
    // left: 23%
    top: 13%
    left: 16%
    /* width: 50.001%; */
    height: 83%

.page-main-inner 
  margin-bottom: $medium

.main-content
  border: 1px solid $black
  position: relative
.work-0,
.work-4
  &.main-content,
  .work-details-header
    background: $green
  .line 
    border-color: $green
  .website-link
    color: $green

.work-1,
.work-5
  &.main-content,
  .work-details-header
    background: $purple
  .line 
    border-color: $purple
  .website-link
    color: $purple

.work-2
  &.main-content,
  .work-details-header
    background: $blue
  .line 
    border-color: $blue
  .website-link
    color: $blue

.work-3
  &.main-content,
  .work-details-header
    background: $dusty-pink
  .line 
    border-color: $dusty-pink
  .website-link
    color: $dusty-pink

.work-details-header 
  position: absolute
  top: 0
  left: 0 
  height: 250px
  width: 100vw

.work-page-heading
  position: relative
  z-index: 2
  color: $white
  h1
    // font-size: 5rem
    margin-bottom: 1.8rem

.desktop-display 
  position: relative
  width: 100%
  display: block
  margin: auto
  z-index: 2


.desktop 
  width: 100%

.desktop-screen 
    position: absolute
    width: 66%
    top: 13%
    left: 17%

// .laptop 
//   background: url('../public/img/macbookpro.png');

.technology-logos
  display: flex
  justify-content: space-between
  align-items: baseline

.technology-logo 
  width: 50px

.website-link
  margin-top: $medium
  color: white
  font-family: $heading
  font-size: $small
  padding: $x-small $small
  text-transform: uppercase
  text-decoration: none
  background: $black
  // border: 2px solid $black
  color: $white

  // z-index: 20
  // left: -100px
  // left: -10%

.progress-bar
  background: $black
  padding: 10px

.back-button
  display: none

.content-work 
  .btn-white
    position: relative
    // top: 4rem
    margin-left: 2rem 
    z-index: 4

.project-navigation
  // width: 50px
  position: fixed
  z-index: 100
  top: 50%
  right: 10px
  display: flex
  flex-direction: column
  i
    color: $black
  button
    border: none
    width: 20px
    outline: none
    background: none
  