* {
  box-sizing: border-box;
  transition: all .4s ease-in-out; }

h1, h2, h4 {
  font-family: "Josefin Sans", sans-serif; }

h1 {
  font-size: 2.5rem; }

p {
  font-family: "Rokkitt", serif;
  line-height: 1.4rem; }

.top-nav {
  position: relative;
  z-index: 2; }

.content-width {
  width: 95%;
  margin: auto; }

.center-align {
  text-align: center; }

.uppercase, .skill h4 {
  text-transform: uppercase; }

.logo {
  width: 70px; }

.line {
  width: 5%;
  border-bottom: 2px solid black; }

.btn-container {
  margin-top: 2.4rem; }

.btn-interior {
  height: 100%;
  background: black; }

.btn-white {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem 2rem;
  border: 2px solid white;
  color: white;
  text-transform: uppercase; }
  .btn-white:hover {
    background: rgba(38, 38, 38, 0.5);
    color: white; }
  .btn-white.home {
    margin: 2rem; }

.fade-appear,
.fade-enter {
  opacity: 0; }

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1; }

.fade-exit {
  transition: opacity .2s linear;
  opacity: 1; }

.fade-exit-active {
  opacity: 0; }

#app {
  max-width: 100vw;
  max-height: 100vh; }

.main-content {
  height: 70vh; }

.landing {
  background: #FB7B7B;
  background: url(/63d7f9ac7c63e8fb97ca2037526cfde5.jpg) no-repeat;
  background-size: cover;
  height: 80vh; }
  .landing .page-heading {
    top: 0; }

.gradient-overlay {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, #c660b5 0%, rgba(198, 96, 181, 0.7) 48%, rgba(198, 96, 181, 0) 100%);
  background: -webkit-linear-gradient(top, #c660b5 0%, rgba(198, 96, 181, 0.7) 48%, rgba(198, 96, 181, 0) 100%);
  background: linear-gradient(to bottom, #c660b5 0%, rgba(198, 96, 181, 0.7) 48%, rgba(198, 96, 181, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#574a86', endColorstr='#00574a86',GradientType=0 ); }

.page-heading {
  width: 90%;
  position: relative;
  padding: 2rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#574a86+0,574a86+48,574a86+100&1+0,0.7+48,0+100 */
  color: #FFFFFF;
  z-index: 2; }
  .page-heading p {
    max-width: 500px; }

.page-heading h1,
.work-page-heading h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 1.4rem;
  font-size: 2rem; }

.page-heading h4,
.work-page-heading h4 {
  margin: 1.4rem 0;
  font-size: 1rem;
  line-height: 1.8rem; }

.about-page-content {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
    color-margin-bottom: 0.7rem;
  background: url(/3281322ccb35e1ecb159fdcc8ffb769e.jpg) no-repeat;
  background-size: cover; }
  .about-page-content h1 {
    margin-bottom: 0; }
  .about-page-content .imageContainer {
    margin-top: 3rem;
    height: 70vh;
    width: 90%; }
    .about-page-content .imageContainer img {
      object-fit: cover;
      width: 100%; }

.skill h4 {
  margin-bottom: 0; }

.skill p {
  margin-top: 0; }

.split {
  padding: 2rem;
  background: rgba(198, 96, 181, 0.6); }

.right {
  background: rgba(87, 74, 134, 0.5);
  text-align: right;
  order: 1; }
  .right h1 {
    margin: 0; }

.colour-container {
  background: rgba(198, 96, 181, 0.5); }
  .colour-container.1 {
    background: rgba(87, 74, 134, 0.5); }

.top-nav {
  display: flex;
  font-family: "Rokkitt", serif;
  margin-bottom: 0.5rem; }
  .top-nav li {
    list-style-type: none;
    padding: 0.5rem; }

#logo {
  display: flex;
  width: 30%; }

.nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center; }
  .nav-links a {
    text-decoration: none;
    color: #262626; }

.mobile-display-right {
  height: 50%;
  position: absolute;
  top: 6%;
  right: 7%; }

.work-item-heading {
  background: rgba(38, 38, 38, 0.5);
  position: relative;
  z-index: 10;
  height: 100%; }

.mobile-screen {
  position: absolute;
  top: 13%;
  left: 16%;
  /* width: 50.001%; */
  height: 83%; }

.page-main-inner {
  margin-bottom: 2.5rem; }

.main-content {
  border: 1px solid #262626;
  position: relative; }

.work-0.main-content,
.work-0 .work-details-header,
.work-4.main-content,
.work-4 .work-details-header {
  background: #7CCE8E; }

.work-0 .line,
.work-4 .line {
  border-color: #7CCE8E; }

.work-0 .website-link,
.work-4 .website-link {
  color: #7CCE8E; }

.work-1.main-content,
.work-1 .work-details-header,
.work-5.main-content,
.work-5 .work-details-header {
  background: #574A86; }

.work-1 .line,
.work-5 .line {
  border-color: #574A86; }

.work-1 .website-link,
.work-5 .website-link {
  color: #574A86; }

.work-2.main-content,
.work-2 .work-details-header {
  background: #5E9DBA; }

.work-2 .line {
  border-color: #5E9DBA; }

.work-2 .website-link {
  color: #5E9DBA; }

.work-3.main-content,
.work-3 .work-details-header {
  background: #C660B5; }

.work-3 .line {
  border-color: #C660B5; }

.work-3 .website-link {
  color: #C660B5; }

.work-details-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 100vw; }

.work-page-heading {
  position: relative;
  z-index: 2;
  color: #FFFFFF; }
  .work-page-heading h1 {
    margin-bottom: 1.8rem; }

.desktop-display {
  position: relative;
  width: 100%;
  display: block;
  margin: auto;
  z-index: 2; }

.desktop {
  width: 100%; }

.desktop-screen {
  position: absolute;
  width: 66%;
  top: 13%;
  left: 17%; }

.technology-logos {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.technology-logo {
  width: 50px; }

.website-link {
  margin-top: 2.5rem;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 1.4rem;
  padding: 0.5rem 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  background: #262626;
  color: #FFFFFF; }

.progress-bar {
  background: #262626;
  padding: 10px; }

.back-button {
  display: none; }

.content-work .btn-white {
  position: relative;
  margin-left: 2rem;
  z-index: 4; }

.project-navigation {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 10px;
  display: flex;
  flex-direction: column; }
  .project-navigation i {
    color: #262626; }
  .project-navigation button {
    border: none;
    width: 20px;
    outline: none;
    background: none; }

.contact {
  background: #C660B5; }
  .contact.main-content {
    height: 80vh; }
  .contact .page-heading h1 {
    font-size: 5.7rem;
    margin-top: 6rem; }
  .contact .page-heading h4 {
    display: flex;
    align-items: center;
    font-size: 1.1rem; }
  .contact .fa-envelope {
    margin-right: 0.5rem; }

@media screen and (min-width: 414px) {
  #app {
    padding: 1.4rem;
    background: #FFFFFF; }
  .page-heading {
    padding: 2rem; }
  .work-page-heading h1 {
    font-size: 2.5rem; }
  .work-details-header {
    height: 370px; }
  .top-nav {
    margin-bottom: 1.4rem; }
  .content-width {
    width: 75%; }
  .contact .page-heading h1 {
    font-size: 8.7rem; }
  .logo {
    width: 30%; } }

@media screen and (min-width: 840px) {
  .work-item-heading {
    background: none; }
  .back-button {
    display: static;
    position: fixed;
    font-size: 2.5rem;
    color: #262626; }
  .page-heading {
    top: 5rem; }
  .content-work .btn-white {
    top: 4rem; }
  .about-page-content {
    flex-direction: row; }
  .mobile-screen {
    left: 53%;
    top: 10%;
    /* width: 50.001%; */
    height: 104%; }
  .right {
    padding-top: 9.3rem;
    width: 60%;
    order: 0; }
    .right h1 {
      display: none; }
  .mobile-display-right {
    top: 6%;
    right: 7%; }
  .work-page-heading h1, .page-heading h1 {
    font-size: 4rem; }
  .page-heading h4 {
    font-size: 1.5rem; }
  .page-heading {
    width: 50%; } }

@media screen and (min-width: 1024px) {
  .left {
    padding: 2.5rem; }
  .right {
    padding-right: 2.5rem; } }
