* {
  box-sizing: border-box; }

h1, h2, h4 {
  font-family: "Josefin Sans", sans-serif; }

h1 {
  font-size: 2.5rem; }

.split {
  width: 50%; }

p {
  font-family: "Rokkitt", serif;
  line-height: 1.4rem; }

.top-nav {
  position: relative;
  z-index: 2; }

.content-width {
  width: 75%;
  margin: auto; }

.center-align {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.fade-appear,
.fade-enter {
  opacity: 0; }

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1; }

.fade-exit {
  transition: opacity .2s linear;
  opacity: 1; }

.fade-exit-active {
  opacity: 0; }

#app {
  max-width: 100vw;
  max-height: 100vh; }

.main-content {
  height: 80vh; }

.landing {
  background: #FF9898; }

.page-heading {
  height: 100%;
  position: relative;
  padding: 5rem 0 0 1.4rem;
  color: #FFFFFF;
  z-index: 2; }

.page-heading h1, .work-page-heading h1 {
  text-transform: uppercase;
  margin-bottom: 0; }

.page-heading h4, .work-page-heading h4 {
  margin-top: 0.5rem; }

.about-page-content {
  display: flex; }
  .about-page-content .imageContainer {
    margin-top: 3rem;
    height: 70vh;
    width: 90%; }
    .about-page-content .imageContainer img {
      object-fit: cover;
      width: 100%;
      height: 100%; }

.skill h4 {
  margin-bottom: 0; }

.skill p {
  margin-top: 0; }

.split {
  margin-bottom: 0.7rem; }

.top-nav {
  display: flex;
  font-family: "Rokkitt", serif;
  margin-bottom: 0.5rem; }
  .top-nav li {
    list-style-type: none;
    padding: 0.5rem; }

#logo {
  display: flex;
  width: 30%; }

.nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end; }
  .nav-links a {
    text-decoration: none;
    color: #262626; }

.mobile-display-right {
  height: 400px;
  position: absolute;
  top: 120px;
  right: 25px; }

.work-0 {
  background: #ABD4B4; }

.work-1 {
  background: #B4ABD4; }

.work-2 {
  background: #ABC7D4; }

.work-3 {
  background: #D4ABCA; }

.work-details-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100vw; }

.work-page-heading {
  position: relative;
  z-index: 2;
  color: #FFFFFF; }

.desktop-display {
  position: relative;
  width: 100%;
  display: block;
  margin: auto;
  z-index: 2; }

.technology-logos {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.technology-logo {
  width: 50px; }

.website-link {
  color: #262626;
  text-transform: uppercase;
  text-decoration: none; }

.back-button {
  position: fixed;
  top: 50%;
  left: -10%; }

.contact {
  background: #D4ABCA; }

@media screen and (min-width: 414px) {
  #app {
    padding: 1.4rem;
    background: #FFFFFF; }
  .page-heading {
    padding: 5rem 0 0 5rem; }
  .top-nav {
    margin-bottom: 1.4rem; } }

@media screen and (min-width: 768px) {
  .mobile-display-right {
    top: 150px;
    right: 150px; } }
